# Environment variables
.env

# data folder
data/
data/*

# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
*.venv

# IDE-specific files
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp